// フォント
$FONT_FAMILY: "メイリオ","Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;

// コンテンツの最大幅
$PAGE_MAX_WIDTH: 1000px;

// ブレイクポイント
$BREAK_POINT_MD: 800px;
$BREAK_POINT_SM: 600px;